* {
    font-family: Arial, Helvetica, sans-serif;
  }
   
  .mainTitle {
    text-align: center;
    margin: 20px 0 50px;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }

  .productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .product {
    width: 30%;
    margin-left: 3%;
  }

  @media (max-width: 720px) {
    .product {
      width: 100%;
      margin: 0 10%;
    }
  }
  
  .productDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productDescription > img {
    height: 200px;
  }

  .productDescription > h4 {
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .productDescription > p {
    height: 72px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .productPrice {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .productPrice > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .productPrice > button {
    height: 32px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
  }

  .productPrice > button:hover {
    cursor: pointer;
  }

  /* CART styles */
  
  .cart {
    text-align: center;
  }
  
  .cart-list-wrapper {
    display: none;
    width: 90%;
    margin: 0 auto;
  }
  
  .cart-list {
    display: flex;
    flex-direction: column;
  }
  
  .cart-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .cart-list-titles {
    display: flex;
    justify-content: space-between;
  }
  
  .cart-list-titles > h4 {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }
  
  .cart-list-item-section {
    display: flex;
    align-items: center;
  }
  
  .cart-list-item-title,
  .cart-list-quantity-title,
  .cart-list-img-section,
  .cart-list-quantity-section {
    width: 30%;
  }
  
  .cart-list-price-title,
  .cart-list-price-section {
    width: 20%;
  }
  
  .cart-list-quantity-section {
    justify-content: space-between;
  }
  
  .cart-list-quantity-section > button {
    padding: 10px;
    border: none;
    background-color: red;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .cart-list-img-section > img {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }
  
  .cart-list-img-section > h4 {
    margin-left: 10px;
    font-weight: normal;
  }
  
  .cart-list-price-section {
    font-weight: bold;
  }
  
  .cart-list-quantity-section > input {
    width: 50px;
    padding: 5px 0;
    text-indent: 5px;
  }
  
  .cart-list-quantity-section > button:hover {
    background-color: #bd0404;
  }
  
  .total-amount {
    text-align: right;
    font-weight: normal;
  }
  
  .total-amount > span {
    margin-left: 10px;
    font-weight: bold;
  }