* {
    font-family: Arial, Helvetica, sans-serif;
  }
   
  .mainTitle {
    text-align: center;
    margin: 20px 0 50px;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }

  .productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .product {
    width: 30%;
    margin-left: 3%;
    margin-bottom: 50px;
  }

  @media (max-width: 720px) {
    .product {
      width: 100%;
      margin: 0 10%;
    }
  }
  
  .productDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productDescription > img {
    height: 200px;
  }

  .productDescription > h4 {
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .productDescription > p {
    height: 72px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .productPrice {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .productPrice > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .productPrice > button {
    height: 32px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
  }

  .productPrice > button:hover {
    cursor: pointer;
  }

  .moreProducts {
    display: flex;
    justify-content: center;
  }

  .moreProducts > button {
    height: 40px;
    color: #ffffff8e;
    background-color: rgb(74, 219, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 20px;
  } 

  .moreProducts > button:hover {
    cursor: pointer;
    background-color: rgb(40, 212, 255);
  }

  /*************** CART styles ***************/
  
  .cart {
    text-align: center;
  }
  
  .cartListContainer {
    width: 90%;
    margin: 0 auto;
  }

  .cartListContainerEmpty {
    display: none;
  }
  
  .cartList {
    display: flex;
    flex-direction: column;
  }

  .cartList > li {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: left;
  }

  .cartListItemImage {
    height: 50px;
    margin-right: 20px;
  }

  .cartListItem {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

  .cartListItem > span {
    width: 50%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  @media(max-width: 720px) {
    .cartListItem > span {
      display: none;
    }
  }
  
  .cartListPrice {
    width: 20%;
  }

  .cartListQuantity {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

  .cartListQuantity > input {
    width: 20%;
  }
  
  .cartListTitles {
    display: flex;
    justify-content: space-between;
  }
  
  .cartListTitles > h4 {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }
  
  .cart-list-item-section {
    display: flex;
    align-items: center;
  }
  
  .cart-list-item-title,
  .cart-list-quantity-title {
    width: 30%;
  }
  
  .cart-list-price-title {
    width: 20%;
  }
  
  
  .total-amount {
    text-align: right;
    font-weight: normal;
  }
  
  .total-amount > span {
    margin-left: 10px;
    font-weight: bold;
  }